body {
  height: 100vh;
  font-family: sans-serif;
  background-color: #263238;
  color: white;
  overflow: hidden;
}

.editor-window {
  height: 86.6vh;
  width: 50vw;
}

.editor {
  font-size: 18px;
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  resize: none;
  margin: 0;
  padding: 1em;
  background-color: rgb(230, 230, 230);
}

.editor:focus {
  border: none;
  box-shadow: none;
  outline: none;
  box-sizing: none;
  -webkit-appearance: none;
}

.preview {
  background-color: rgb(230, 230, 230);
  color: black;
  /* padding: 1rem; */
  width: 50vw;
  height: 87vh;
  overflow-y: auto;
  padding: 1rem;
}

.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}
